<div class="container">
    <h1><%= @article.title %></h1>
    <p><%= @article.content %></p>
    <a class="btn btn-primary" href="<%= article_path(@article.id) %>/edit" role="button">Edit Article</a>
</div>
